<h1> Address View </h1>

<h4>Address: <%= @address %>   <a href= "/transfer/address/<%= @address %>" >[transfer]</a> <br/></h4>

<% if @addr then %>
----------------------------------------------------<br/>
panbot: <%= @addr.is_panbot ? "true" : "false" %> </br>
contract: <%=@addr.is_contract ? "true" : "false" %> </br>
<%= form_with url: "/address/tag/#{@address}", method: :post do |form| %>
  tag: <%=@addr.tag ? @addr.tag : "(blank)"%>  | 
  <%= form.text_field :tag %>
  <%= form.submit "Update Tag" %>
<% end %>
<a href="https://bscscan.com/address/<%= @address %>">[bnbscan]</a> </br>
----------------------------------------------------<br/>
bet epoch: <%= @addr.bet_epoch_cnt %> / all_epoch: <%= Epoch.count %>  = bet_ratio: <%= (@addr.bet_epoch_cnt*100.to_f / Epoch.count).round(2) %>% <br/>
<br/>
invest_cnt: <%= @addr.invest_cnt %> / bet_cnt: <%= @addr.bet_cnt %>  = bet_success_rate: <%=  (@addr.invest_cnt*100.to_f / @addr.bet_cnt).round(2)  %>%  <br/>
<br/>
bet_bull_cnt: <%= @addr.bet_bull_cnt %> / bet_cnt: <%= @addr.bet_cnt %>  = bet_bull_ratio: <%= (@addr.bet_bull_cnt*100.to_f / @addr.bet_cnt).round(2)  %>% <br/>
<br/>
avg_bet_amt: <%=@addr.avg_bet_amt.round(4) %> <br/>
<% def calculate_percentile(json, percentile)
  array = JSON.parse(json)
  array.sort[(percentile * array.length).ceil - 1] or 0
end
%>
bet_amt_percentile 25%: <%= calculate_percentile(@addr.bet_amt,0.25).round(4) %> | 50%: <%= calculate_percentile(@addr.bet_amt,0.5).round(4) %> | 75%: <%= calculate_percentile(@addr.bet_amt,0.75).round(4) %><br/>
<br/>

avg_last_block_order: <%= @addr.avg_last_block_order.round(2)  %> <br/>
right_bet_ratio: <%= (@addr.right_bet_ratio*100).round(2)  %>% <br/>
win_bet_ratio: <%= (@addr.win_bet_ratio*100).round(2) %>% <br/>
<br/>
invest_cnt: <%= @addr.invest_cnt%> 
invest_amt: <%= @addr.invest_amt.round(4)%> 
return_amt: <%= @addr.return_amt.round(4)%> <br/>
<% if @addr.invest_amt!=0 then%>
total_roi: <%= (@addr.return_amt*100 / @addr.invest_amt).round(2)%>%
<% end%>
<br/>
----------------------------------------------------<br/>
<% end %>
<table>
<td> | #</td>
<td> | epoch</td>
<td> | block_number</td>
<td> | block_time</td>
<td> | ob_payout</td>
<td> | method</td>
<td> | bet_success</td>
<td> | amount</td>
<td> | round_payout</td>
<td> | round_win</td>
<td> | rount_ret</td>
<% 
  @tx.each_with_index do |tx,i| 
    round_ret = 0
    x = @tx_map[tx.tx_hash]
    epoch = @epoch_map[tx.tx_hash]
    next if epoch==nil

    last_block_order = epoch.get_last_block_order(tx.block_number)

    next if last_block_order==nil
    wrong_bet = epoch.get_wrong_bet(tx.method_name,tx.block_number);
    win_bet = tx.method_name[-4,4].downcase == epoch.bet_result 

    if tx.tx_status then
      bet_amt = (@tx_map[tx.tx_hash] or [0,0,0])[1]
      
      round_ret =  - bet_amt
      if tx.method_name=="betBear" and epoch.bet_result=="bear" then
        round_ret = round_ret+ bet_amt * epoch.bear_payout * 0.97
      end
      if tx.method_name=="betBull" and epoch.bet_result=="bull" then
        round_ret = round_ret+bet_amt * epoch.bull_payout * 0.97
      end
    end
%>
  <tr>
  <td> | <%= i%></td>
  <td> | <a href="/epoch/<%= epoch.epoch %>"><%= epoch.epoch %></a></td>
  <td> | <span style="background-color: <%= "lightpink" if last_block_order<=3 %>"> <%= tx.block_number %>(<%=  last_block_order %>)</span> </td>
  <td> | <%= tx.block_time.to_formatted_s(:db) %> </td>
  <td> | <%= epoch.get_bull_payout(tx.block_number-2).round(2) %> <%= epoch.get_bear_payout(tx.block_number-2).round(2) %></td>
  <td> |  <span style="background-color: <%= "lightsalmon" if wrong_bet %>"> <%= tx.method_name %></span></td>
  <td> |    <span style="color:<%= tx.tx_status ? "green" : "red" %>">
        <%= tx.tx_status %> 
    </span>
  </td>
  <td> | <%= @tx_map[tx.tx_hash]!=nil ? (@tx_map[tx.tx_hash] or [0,0,0])[1].round(4) : "" %></td>
  <td> | <%= tx.tx_status==true ? epoch.bull_payout.round(2) : ""  %>  <%= tx.tx_status==true ? epoch.bear_payout.round(2) : "" %></td>
  <td> | <span style="background-color: <%= win_bet ? "palegreen" : "lightsalmon"  %>"> <%= tx.tx_status==true ? epoch.bet_result : "" %> </span></td>
  <td> | <%= tx.tx_status==true ? round_ret.round(4) : "" %></td>
  </tr>
<% end %>
</table>
------------------------------------------------------------------------------------<br/>
 <%== pagy_nav(@pagy) %>