<h1>Logs</h1>
<% @log.each do |log| %>
  <a href="/log?id=<%= log.id %>&worker=<%= log.worker %>"><%= log.id %></a> | <a href="/log?worker=<%= log.worker %>"><%= log.worker %></a> | <%= log.created_at.to_formatted_s(:db) %>  | <%= log.log %><br/>
<% end %>

------------------------------------------------------------------------------------<br/>

 <%== pagy_nav(@pagy) %>