<h1>Transfer Address</h1>
<h4>Address <%= @address %> </h4>
panbot: <%= @addr.is_panbot ? "true" : "false" %>
  <% if @addr.is_panbot then%> 
   <a href= "/address/<%= @address %>" >[panbot bet]</a>
  <% end %>
 </br>
contract: <%=@addr.is_contract ? "true" : "false" %> </br>
tag: <%=@addr.tag %> </br>
 </br>
<table>
<tr>
  <td>#</td>
  <td> | block</td>
  <td> | time</td>
  <td> | from</td>
  <td> | to</td>
  <td> | method</td>
  <td> | amount</td>
</tr>
<% @tx.each_with_index do |tx,index|
    from_addr = Address.find_by_addr(tx.from)
    to_addr = Address.find_by_addr(tx.to)
%>
<tr>
  <td><a href="https://bscscan.com/tx/<%= tx.tx_hash %>"><%=index%></a> </td>
  <td> | <a href='/transfer/<%= tx.block_number %>'><%= tx.block_number %></a></td>
  <td> | <%= tx.block_time.to_formatted_s(:db) %></td>
  <td> | <a href='/transfer/address/<%= tx.from %>' 
        style='background-color:<%= tx.from==@address ? "lightgoldenrodyellow": ""%>' >
        <%= from_addr.tag ? from_addr.tag : tx.from %>
    </a><%= from_addr.is_panbot ? "[P]" : "" %>
  </td>
  <td> | <a href='/transfer/address/<%= tx.to %>' 
        style='background-color:<%= tx.to==@address ? "lightgoldenrodyellow": ""%>' >
        <%= to_addr.tag ? to_addr.tag : tx.to %>
      </a><%= to_addr.is_panbot ? "[P]" : "" %></td>
  <td> | 
      <span style='background-color:<%= tx.method_name == "Transfer"? "palegreen" : ""  %>' >
        <%= tx.method_name%>
      </span>
  </td>
  <td> | <%= (tx.amount.to_f/1e18).round(6) %></td>
</tr>
<% end %>
</table>
------------------------------------------------------------------------------------<br/>

 <%== pagy_nav(@pagy) %>