<h1>Task All</h1>
<h3>Stats</h3>
Name Task: <%= @name_task %><br/>
Closure Task: <%= @closure_task %><br/>
--------------------------------<br/>
<h3>Running Tasks</h3>
<table>
<tr>
  <td>| #</td>
  <td>| tid</td>
  <td>| name</td>
  <td>| status</td>
  <td>| schedule_at</td>
  <td>| runner</td>
  <td>| running time</td>
  <td>| action</td>
</tr>
<% @running_task.each_with_index do |t,i| %>
<tr>
  <td>| <%= i %></td>
  <td>| <a href="/task/<%= t.tid %>"><%= t.tid %></a></td>
  <td>| <%= t.tid == t.name ? "" :t.name %></td>
  <td>| <%= t.status %></td>
  <td>| <%= t.schedule_at ? t.schedule_at.to_formatted_s(:db) : "" %></td>
  <td>| <%= t.runner %></td>
  <td>| <%= t.run_timestamp ? ActiveSupport::Duration.build(Time.now - t.run_timestamp).parts.map do |key, value|  [value.to_i, key].join(' ') end.join(' ')  : "" %></td>
  <td>| <a href='/task/kill/<%= t.tid %>'>kill</a></td>
</tr>
<% end %>
</table>
--------------------------------<br/>
<h3>Schedule Tasks</h3>
<table>
<tr>
  <td>| #</td>
  <td>| tid</td>
  <td>| name</td>
  <td>| status</td>
  <td>| schedule_at</td>
  <td>| countdown time</td>
</tr>
<% @schedule_task.each_with_index do |t,i| %>
<tr>
  <td>| <%= i %></td>
  <td>| <a href="/task/<%= t.tid %>"><%= t.tid %></a></td>
  <td>| <%= t.tid == t.name ? "" :t.name %></td>
  <td>| <%= t.status %></td>
  <td>| <%= t.schedule_at ? t.schedule_at.to_formatted_s(:db) : "" %></td>
  <td>| <%= t.schedule_at ? ActiveSupport::Duration.build(t.schedule_at - Time.now).parts.map do |key, value|  [value.to_i, key].join(' ') end.join(' ')  : "" %></td>
</tr>
<% end %>
</table>


--------------------------------<br/>
<h3>All Tasks</h3>
<table>
<tr>
  <td>| #</td>
  <td>| tid</td>
  <td>| name</td>
  <td>| status</td>
  <td>| params</td>
  <td>| runner</td>
  <td>| created_at</td>
  <td>| last_save</td>
</tr>
<% @task.each_with_index do |t,i| %>
<tr>
  <td>| <%= i %></td>
  <td>| <a href="/task/<%= t.tid %>"><%= t.tid %></a></td>
  <td>| <%= t.tid == t.name ? "" :t.name %></td>
  <td>| <%= t.status %></td>
  <td>| <%= t.params.to_s.size > 30 ? t.params.to_s[0,30]+"..." : t.params %></td>
  <td>| <%= t.runner %></td>
  <td>| <%= t.created_at.to_formatted_s(:db) %></td>
  <td>| <%= t.save_timestamp ? t.save_timestamp.to_formatted_s(:db) : "" %></td>
</tr>
<% end %>
</table>
