<h1>Task All</h1>
<h3>Running Tasks</h3>
<table>
<tr>
  <td>| #</td>
  <td>| tid</td>
  <td>| name</td>
  <td>| status</td>
  <td>| params</td>
  <td>| running time</td>
</tr>
<% @running_task.each_with_index do |t,i| %>
<tr>
  <td>| <%= i %></td>
  <td>| <a href="/task/<%= t.tid %>"><%= t.tid %></a></td>
  <td>| <%= t.tid == t.name ? "" :t.name %></td>
  <td>| <%= t.status %></td>
  <td>| <%= t.runner %></td>
  <td>| <%= t.run_timestamp ? ActiveSupport::Duration.build(Time.now - t.run_timestamp).inspect  : "" %></td>
</tr>
<% end %>
</table>


--------------------------------<br/>
<h3>All Tasks</h3>
<table>
<tr>
  <td>| #</td>
  <td>| tid</td>
  <td>| name</td>
  <td>| status</td>
  <td>| params</td>
  <td>| runner</td>
  <td>| created_at</td>
  <td>| last_save</td>
</tr>
<% @task.each_with_index do |t,i| %>
<tr>
  <td>| <%= i %></td>
  <td>| <a href="/task/<%= t.tid %>"><%= t.tid %></a></td>
  <td>| <%= t.tid == t.name ? "" :t.name %></td>
  <td>| <%= t.status %></td>
  <td>| <%= t.params.to_s.size > 30 ? t.params.to_s[0,30]+"..." : t.params %></td>
  <td>| <%= t.runner %></td>
  <td>| <%= t.created_at.to_formatted_s(:db) %></td>
  <td>| <%= t.save_timestamp ? t.save_timestamp.to_formatted_s(:db) : "" %></td>
</tr>
<% end %>
</table>
